openapi: 3.0.1
info:
  title: Digital Identity Service API
  version: 1.50.0
servers:
- url: https://dot.innovatrics.com/identity
paths:
  /api/v1/info:
    get:
      operationId: info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActuatorInfo"
          description: OK
      summary: Get application info
      tags:
      - Actuator
      x-accepts:
      - application/json
  /api/v1/health:
    get:
      operationId: health
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActuatorHealth"
          description: OK
      summary: Get application health
      tags:
      - Actuator
      x-accepts:
      - application/json
  /api/v1/customers/{id}/selfie:
    delete:
      operationId: deleteSelfie
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "204":
          description: No Content
      security:
      - api: []
      summary: Delete customer's selfie
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
    get:
      operationId: getSelfieImage
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_PARAMETER
        "401":
          description: Unauthorized
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCrop"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get customer's selfie image
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
    put:
      operationId: createSelfie_1
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSelfieRequest"
          application/octet-stream:
            schema:
              format: byte
              type: string
        required: true
      responses:
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSelfieResponse"
          description: OK
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
             - INVALID_IMAGE
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Provide customer's selfie
      tags:
      - Customer onboarding
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/customers/{id}/liveness:
    delete:
      operationId: deleteLiveness
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "204":
          description: No Content
      security:
      - api: []
      summary: Delete customer's liveness
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
    put:
      operationId: createLiveness
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCustomerLivenessResponse"
          description: OK
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Create customer's liveness
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}/liveness/records/challenge:
    put:
      operationId: createLivenessRecordChallenge
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LivenessChallengeRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
        "403":
          description: Forbidden
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LivenessChallengeResponse"
          description: OK
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Create customer's liveness record challenge
      tags:
      - Customer onboarding
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document:
    delete:
      operationId: deleteDocument
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "204":
          description: No Content
      security:
      - api: []
      summary: Delete customer's document
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
    put:
      operationId: createDocument
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDocumentRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDocumentResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
        "403":
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Create customer's document
      tags:
      - Customer onboarding
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document/pages:
    put:
      operationId: createDocumentPage_1
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDocumentPageRequest"
          application/octet-stream:
            schema:
              format: byte
              type: string
        required: true
      responses:
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDocumentPageResponse"
          description: OK
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
             - INVALID_IMAGE
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Provide customer's document page
      tags:
      - Customer onboarding
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document/chip/data:
    get:
      operationId: getDocumentChipData
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCrop"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get customer's document chip raw data
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
    put:
      operationId: createDocumentChipData
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: byte
              type: string
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDocumentChipDataResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
        "403":
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Create customer's document chip data
      tags:
      - Customer onboarding
      x-content-type: application/octet-stream
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document/chip/challenge:
    put:
      operationId: createDocumentChipChallenge
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDocumentChipResponse"
          description: OK
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
      security:
      - api: []
      summary: Create customer's challengeBytes for document chip
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/sessions:
    delete:
      operationId: deleteSession
      parameters:
      - description: Session token as Base64 text
        explode: false
        in: header
        name: x-inn-session-token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "204":
          description: No Content
      security:
      - api: []
      summary: Close the session
      tags:
      - Session management
      x-accepts:
      - application/json
    post:
      operationId: createSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSessionRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSessionResponse"
          description: OK
        "403":
          description: Forbidden
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_REQUEST_BODY
        "401":
          description: Unauthorized
      security:
      - api: []
      summary: Create a session
      tags:
      - Session management
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/palms:
    post:
      operationId: createPalm_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePalmRequest"
          application/octet-stream:
            schema:
              format: byte
              type: string
        required: true
      responses:
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePalmResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
             - INVALID_IMAGE
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Create a palm from the photo
      tags:
      - Palm operations
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/palms/{probe_palm_id}/similarity:
    post:
      operationId: checkSimilarity
      parameters:
      - explode: false
        in: path
        name: probe_palm_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PalmSimilarityRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PalmSimilarityResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Match the probe palm to the reference palm
      tags:
      - Palm operations
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/palms/{id}/inspect:
    post:
      operationId: inspectPalm
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
        "403":
          description: Forbidden
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PalmInspectResponse"
          description: OK
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Inspect palm
      tags:
      - Palm operations
      x-accepts:
      - application/json
  /api/v1/faces:
    post:
      operationId: detect_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFaceRequest"
          application/octet-stream:
            schema:
              format: byte
              type: string
        required: true
      responses:
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateFaceResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_REQUEST_BODY
             - INVALID_IMAGE
             - FACE_SIZE_MEMORY_LIMIT
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Create a face from the photo (face detection)
      tags:
      - Face operations
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/faces/{probe_face_id}/similarity:
    post:
      operationId: checkSimilarity_1
      parameters:
      - explode: false
        in: path
        name: probe_face_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FaceSimilarityRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_REQUEST_BODY
             - INVALID_IMAGE
             - UNSUPPORTED_VERSION_TEMPLATE
             - CORRUPTED_TEMPLATE
             - INCOMPATIBLE_TEMPLATE
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaceSimilarityResponse"
          description: OK
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Match the probe face to the reference face
      tags:
      - Face operations
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/customers:
    post:
      operationId: createCustomer
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCustomerResponse"
          description: OK
        "401":
          description: Unauthorized
      security:
      - api: []
      summary: Create a customer
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}:
    delete:
      operationId: deleteCustomer
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "204":
          description: No Content
      security:
      - api: []
      summary: Delete the customer
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
    get:
      operationId: getCustomer
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCustomerResponse"
          description: OK
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get the customer
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
    post:
      operationId: createCustomerWithUuid
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Unprocessable request

            Possible error codes:
             - ALREADY_EXISTS
        "403":
          description: Forbidden
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCustomerResponse"
          description: OK
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
      security:
      - api: []
      summary: Create a customer with a custom UUIDv4
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}/store:
    post:
      operationId: storeInTrustPlatform
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerStoreRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
        "403":
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
        "204":
          description: No Content
      security:
      - api: []
      summary: Store customer in the Trust Platform
      tags:
      - Trust Platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/customers/{id}/liveness/selfies:
    post:
      operationId: createLivenessSelfie
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerLivenessSelfieRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCustomerLivenessSelfieResponse"
          description: OK
        "403":
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
             - INVALID_IMAGE
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Provide customer's liveness selfie
      tags:
      - Customer onboarding
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/customers/{id}/liveness/selfies/retrieve:
    post:
      operationId: retrieveLivenessSelfiesAndRecords
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetrieveLivenessSelfiesRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
        "403":
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveLivenessSelfiesResponse"
          description: OK
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Retrieves customer's liveness selfies and liveness record selfies of
        given LivenessType
      tags:
      - Customer onboarding
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/customers/{id}/liveness/records:
    post:
      operationId: createLivenessRecord
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: byte
              type: string
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCustomerLivenessRecordResponse"
          description: OK
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
             - INVALID_IMAGE
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Provide customer's liveness record
      tags:
      - Customer onboarding
      x-content-type: application/octet-stream
      x-accepts:
      - application/json
  /api/v1/customers/{id}/liveness/evaluation:
    post:
      operationId: evaluateLiveness
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvaluateCustomerLivenessRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluateCustomerLivenessResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_BODY
        "403":
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Evaluate customer's liveness
      tags:
      - Customer onboarding
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/customers/{id}/inspect:
    post:
      operationId: inspect
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerInspectResponse"
          description: OK
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Inspect customer
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}/inspect/disclose:
    post:
      operationId: inspectDisclose
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerInspectDiscloseResponse"
          description: OK
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Disclose customer inspection
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document/inspect:
    post:
      operationId: documentInspect
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "401":
          description: Unauthorized
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentInspectResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Inspect customer's document
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document/inspect/disclose:
    post:
      operationId: documentInspectDisclose
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentInspectDiscloseResponse"
          description: OK
        "403":
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Conflict

            Possible error codes:
             - CONFLICT
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Disclose customer's document inspection
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/palms/{id}/template:
    get:
      operationId: getPalmTemplate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PalmTemplateResponse"
          description: OK
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get the palm's template
      tags:
      - Palm operations
      x-accepts:
      - application/json
  /api/v1/metadata:
    get:
      operationId: metadata
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentMetadataResponse"
          description: OK
        "401":
          description: Unauthorized
      security:
      - api: []
      summary: Get metadata
      tags:
      - Metadata
      x-accepts:
      - application/json
  /api/v1/faces/{id}/quality:
    get:
      operationId: checkQuality
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaceQualityResponse"
          description: OK
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get the face's quality
      tags:
      - Face operations
      x-accepts:
      - application/json
  /api/v1/faces/{id}/glasses:
    get:
      operationId: checkGlasses
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlassesResponse"
          description: OK
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Check if glasses are present on the face
      tags:
      - Face operations
      x-accepts:
      - application/json
  /api/v1/faces/{id}/face-template:
    get:
      operationId: createTemplate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaceTemplateResponse"
          description: OK
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get the face's template
      tags:
      - Face operations
      x-accepts:
      - application/json
  /api/v1/faces/{id}/face-mask:
    get:
      operationId: checkFaceMask
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaceMaskResponse"
          description: OK
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Check if the face is covered by a mask
      tags:
      - Face operations
      x-accepts:
      - application/json
  /api/v1/faces/{id}/crop:
    get:
      operationId: doCrop
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_PARAMETER
        "401":
          description: Unauthorized
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCrop"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get the face's crop
      tags:
      - Face operations
      x-accepts:
      - application/json
  /api/v1/faces/{id}/crop/removed-background:
    get:
      operationId: doCropRemoveBackground
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_PARAMETER
        "401":
          description: Unauthorized
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCrop"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get the face's crop with removed background
      tags:
      - Face operations
      x-accepts:
      - application/json
  /api/v1/faces/{id}/crop/coordinates:
    get:
      operationId: doCropCoordinates
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CropCoordinatesResponse"
          description: OK
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get face's crop coordinates
      tags:
      - Face operations
      x-accepts:
      - application/json
  /api/v1/faces/{id}/aspects:
    get:
      operationId: evaluateAspects
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaceAspectsResponse"
          description: OK
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get face's aspects
      tags:
      - Face operations
      x-accepts:
      - application/json
  /api/v1/customers/{id}/liveness/records/{recordId}/selfie:
    get:
      operationId: customerLivenessRecordSelfie
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: recordId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_PARAMETER
        "401":
          description: Unauthorized
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCrop"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get customer's liveness record's selfie
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document/signature:
    get:
      operationId: documentSignature
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_PARAMETER
        "401":
          description: Unauthorized
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCrop"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get customer's document signature
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document/portrait:
    get:
      operationId: documentPortrait
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_PARAMETER
        "401":
          description: Unauthorized
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCrop"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get customer's document portrait
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document/pages/{page-type}:
    get:
      operationId: documentPageCrop
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: page-type
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_PARAMETER
        "401":
          description: Unauthorized
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCrop"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get normalized image of the customer's document page
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document/pages/{page-type}/quality:
    get:
      operationId: documentPageQuality
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: page-type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentPageQuality"
          description: OK
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Check quality of the customer's document page
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document/ghost-portrait:
    get:
      operationId: documentGhostPortrait
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_PARAMETER
        "401":
          description: Unauthorized
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCrop"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get customer's document ghost portrait
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document/fingerprint:
    get:
      operationId: documentFingerprint
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
             - INVALID_REQUEST_PARAMETER
        "401":
          description: Unauthorized
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCrop"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get customer's fingerprint from the document
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/customers/{id}/document/chip/portrait:
    get:
      operationId: documentChipPortrait
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCrop"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Not found

            Possible error codes:
             - NOT_FOUND
      security:
      - api: []
      summary: Get customer's document chip portrait
      tags:
      - Customer onboarding
      x-accepts:
      - application/json
  /api/v1/palms/{id}:
    delete:
      operationId: deletePalm
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "204":
          description: No Content
      security:
      - api: []
      summary: Delete the palm
      tags:
      - Palm operations
      x-accepts:
      - application/json
  /api/v1/faces/{id}:
    delete:
      operationId: deleteFace
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Internal Server Error

            Possible error codes:
             - UNEXPECTED_ERROR
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            Bad request

            Possible error codes:
             - INVALID_ID
        "204":
          description: No Content
      security:
      - api: []
      summary: Delete the face
      tags:
      - Face operations
      x-accepts:
      - application/json
components:
  schemas:
    ActuatorInfo:
      example:
        iface:
          license:
            month: "3"
            year: "2024"
            day: "4"
          version: 4.18.0
        build:
          artifact: digital-identity-service
          name: digital-identity-service
          version: 1.0.0
          group: com.innovatrics.dot
        sam:
          version: 1.28.1
      properties:
        build:
          $ref: "#/components/schemas/ActuatorInfo_build"
        iface:
          $ref: "#/components/schemas/ActuatorInfo_iface"
        sam:
          $ref: "#/components/schemas/ActuatorInfo_sam"
      readOnly: true
      required:
      - build
      - iface
      - sam
      type: object
    ActuatorHealth:
      example:
        status: UP
      properties:
        status:
          description: The application health status
          enum:
          - UP
          - DOWN
          example: UP
          readOnly: true
          type: string
      readOnly: true
      required:
      - status
      type: object
    CreateSelfieRequest:
      example:
        image:
          data: data
          url: http://localhost/example.png
        selfieOrigin:
          link: /api/v1/customers/65ebc529-50da-43cb-9963-e15fbf524f8e/liveness/records/df0d69e3-9d59-4a8b-82de-510b3950dc39/selfie
      properties:
        image:
          $ref: "#/components/schemas/Image"
        selfieOrigin:
          $ref: "#/components/schemas/LivenessSelfieOrigin"
      type: object
      writeOnly: true
    Image:
      description: Image provided as Base64 encoded string or via URL. Data or URL
        have to be provided.
      example:
        data: data
        url: http://localhost/example.png
      properties:
        data:
          format: byte
          type: string
        url:
          description: Image's URL
          example: http://localhost/example.png
          type: string
      type: object
      writeOnly: true
    LivenessSelfieOrigin:
      description: This allows to link the image from liveness to be selfie photo.
        Do not upload the photo in Image class in this case.
      example:
        link: /api/v1/customers/65ebc529-50da-43cb-9963-e15fbf524f8e/liveness/records/df0d69e3-9d59-4a8b-82de-510b3950dc39/selfie
      properties:
        link:
          description: The liveness selfie origin link
          example: /api/v1/customers/65ebc529-50da-43cb-9963-e15fbf524f8e/liveness/records/df0d69e3-9d59-4a8b-82de-510b3950dc39/selfie
          type: string
      required:
      - link
      type: object
      writeOnly: true
    ErrorResponse:
      description: Error response
      example:
        errorMessage: errorMessage
        errorCode: NOT_FOUND
      properties:
        errorCode:
          description: Error code
          enum:
          - NOT_FOUND
          - INVALID_ID
          - INVALID_IMAGE
          - INVALID_REQUEST_BODY
          - INVALID_REQUEST_PARAMETER
          - INVALID_REQUEST_METHOD
          - CONFLICT
          - UNEXPECTED_ERROR
          - ALREADY_EXISTS
          - DATA_DOWNLOADER_DISABLED
          - MALFORMED_URL
          - FACE_SIZE_MEMORY_LIMIT
          - INCOMPATIBLE_TEMPLATE
          - CORRUPTED_TEMPLATE
          - UNSUPPORTED_VERSION_TEMPLATE
          - DATA_DOWNLOAD_ERROR
          - NOT_ENOUGH_DATA
          - TOO_MANY_REQUESTS
          readOnly: true
          type: string
        errorMessage:
          description: Error detailed description. It's only informative.
          readOnly: true
          type: string
      readOnly: true
      required:
      - errorCode
      - errorMessage
      type: object
    CreateSelfieResponse:
      example:
        detection:
          faceRectangle:
            bottomLeft:
              x: 10
              "y": 20
            bottomRight:
              x: 10
              "y": 20
            topLeft:
              x: 10
              "y": 20
            topRight:
              x: 10
              "y": 20
          confidence: 0.34
        warnings:
        - MULTIPLE_FACES_DETECTED
        - MULTIPLE_FACES_DETECTED
        errorCode: NO_FACE_DETECTED
        links:
          self: self
        additionalData:
          video:
            data: data
      properties:
        detection:
          $ref: "#/components/schemas/FaceDetection"
        links:
          $ref: "#/components/schemas/Links"
        errorCode:
          description: The face detection error code
          enum:
          - NO_FACE_DETECTED
          - INVALID_DATA
          readOnly: true
          type: string
        warnings:
          description: The face detection warnings
          items:
            description: The face detection warnings
            enum:
            - MULTIPLE_FACES_DETECTED
            readOnly: true
            type: string
          readOnly: true
          type: array
        additionalData:
          $ref: "#/components/schemas/ResourceData"
      readOnly: true
      type: object
    FaceDetection:
      description: Result of the face detection containing coordinates of rectangle
        where the face was detected and the confidence score there is a face.
      example:
        faceRectangle:
          bottomLeft:
            x: 10
            "y": 20
          bottomRight:
            x: 10
            "y": 20
          topLeft:
            x: 10
            "y": 20
          topRight:
            x: 10
            "y": 20
        confidence: 0.34
      properties:
        confidence:
          description: The face detection confidence. Values near 1.0 indicates a
            high confidence a human face was detected.
          example: 0.34
          format: double
          maximum: 1
          minimum: 0
          readOnly: true
          type: number
        faceRectangle:
          $ref: "#/components/schemas/Roi"
      readOnly: true
      required:
      - confidence
      - faceRectangle
      type: object
    Links:
      description: The resource's links
      example:
        self: self
      properties:
        self:
          description: The resource's self link.
          readOnly: true
          type: string
      readOnly: true
      required:
      - self
      type: object
    Point:
      description: The point coordinates.
      example:
        x: 10
        "y": 20
      properties:
        x:
          description: "The x-axis coordinate of the point, in pixels"
          example: 10
          format: int32
          readOnly: true
          type: integer
        "y":
          description: "The y-axis coordinate of the point, in pixels"
          example: 20
          format: int32
          readOnly: true
          type: integer
      readOnly: true
      required:
      - x
      - "y"
      type: object
    ResourceData:
      description: Additional data for the resource
      example:
        video:
          data: data
      properties:
        video:
          $ref: "#/components/schemas/ResourceVideo"
      readOnly: true
      type: object
    ResourceVideo:
      description: The video snippet recorded during the capture of the resource
      example:
        data: data
      properties:
        data:
          format: byte
          readOnly: true
          type: string
      readOnly: true
      required:
      - data
      type: object
    Roi:
      description: The region of the interest. The coordinates of the rectangle.
      example:
        bottomLeft:
          x: 10
          "y": 20
        bottomRight:
          x: 10
          "y": 20
        topLeft:
          x: 10
          "y": 20
        topRight:
          x: 10
          "y": 20
      properties:
        topLeft:
          $ref: "#/components/schemas/Point"
        topRight:
          $ref: "#/components/schemas/Point"
        bottomRight:
          $ref: "#/components/schemas/Point"
        bottomLeft:
          $ref: "#/components/schemas/Point"
      readOnly: true
      required:
      - bottomLeft
      - bottomRight
      - topLeft
      - topRight
      type: object
    CreateCustomerLivenessResponse:
      example:
        links:
          self: self
      properties:
        links:
          $ref: "#/components/schemas/Links"
      readOnly: true
      required:
      - links
      type: object
    LivenessChallengeRequest:
      example:
        type: EYE_GAZE_LIVENESS
      properties:
        type:
          description: Liveness type for the challenge.
          enum:
          - EYE_GAZE_LIVENESS
          - PASSIVE_LIVENESS
          - SMILE_LIVENESS
          - MAGNIFEYE_LIVENESS
          type: string
      required:
      - type
      type: object
      writeOnly: true
    ChallengeDetails:
      oneOf:
      - $ref: "#/components/schemas/EyeGazeChallengeDetails"
      readOnly: true
      type: object
    EyeGazeChallengeDetails:
      description: The liveness challenge details for the liveness.
      example:
        corners:
        - TOP_LEFT
        - TOP_LEFT
      properties:
        corners:
          description: The list of corners - Eye Gaze Positions.
          items:
            description: The list of corners - Eye Gaze Positions.
            enum:
            - TOP_LEFT
            - TOP_RIGHT
            - BOTTOM_LEFT
            - BOTTOM_RIGHT
            readOnly: true
            type: string
          readOnly: true
          type: array
      required:
      - corners
      type: object
    LivenessChallengeResponse:
      example:
        details:
          corners:
          - TOP_LEFT
          - TOP_LEFT
      properties:
        details:
          $ref: "#/components/schemas/ChallengeDetails"
      readOnly: true
      required:
      - details
      type: object
    CreateDocumentRequest:
      example:
        sources:
        - VIZ
        - VIZ
        advice:
          classification:
            types:
            - identity-card
            - passport
            editions:
            - 2008-2019
            machineReadableTravelDocuments:
            - td1
            - td2
            - td3
            countries:
            - svk
            - cze
      properties:
        advice:
          $ref: "#/components/schemas/DocumentAdvice"
        sources:
          description: "The document sources. The chosen document sources indicate\
            \ which part of the document should be processed. For instance, if only\
            \ MRZ is requested, the document is classified only by MRZ, and only MRZ\
            \ is recognized and processed."
          items:
            description: "The document sources. The chosen document sources indicate\
              \ which part of the document should be processed. For instance, if only\
              \ MRZ is requested, the document is classified only by MRZ, and only\
              \ MRZ is recognized and processed."
            enum:
            - VIZ
            - MRZ
            - BARCODE
            - DOCUMENT_PORTRAIT
            - GLOBAL_OCR
            type: string
          type: array
      type: object
      writeOnly: true
    DocumentAdvice:
      description: Advice to the OCR document classification process about expected
        document type in the uploaded image.
      example:
        classification:
          types:
          - identity-card
          - passport
          editions:
          - 2008-2019
          machineReadableTravelDocuments:
          - td1
          - td2
          - td3
          countries:
          - svk
          - cze
      properties:
        classification:
          $ref: "#/components/schemas/DocumentClassificationAdvice"
      type: object
      writeOnly: true
    DocumentClassificationAdvice:
      description: "Advice to the classification process defining the expected document\
        \ type, issuing country, edition or type of travel document. This is optional\
        \ input. If not provided, classification will try to match among all supported\
        \ documents. If provided and document in image is different, an error is returned."
      example:
        types:
        - identity-card
        - passport
        editions:
        - 2008-2019
        machineReadableTravelDocuments:
        - td1
        - td2
        - td3
        countries:
        - svk
        - cze
      properties:
        countries:
          description: The list of Alpha-3 ISO 3166 country codes
          example:
          - svk
          - cze
          items:
            description: The list of Alpha-3 ISO 3166 country codes
            example: "[\"svk\",\"cze\"]"
            type: string
          type: array
        types:
          description: The list of the identity document types
          example:
          - identity-card
          - passport
          items:
            description: The list of the identity document types
            example: "[\"identity-card\",\"passport\"]"
            type: string
          type: array
        editions:
          description: The list of the document editions
          example:
          - 2008-2019
          items:
            description: The list of the document editions
            example: "[\"2008-2019\"]"
            type: string
          type: array
        machineReadableTravelDocuments:
          description: The list of the MRZ types
          example:
          - td1
          - td2
          - td3
          items:
            description: The list of the MRZ types
            example: "[\"td1\",\"td2\",\"td3\"]"
            type: string
          type: array
      type: object
      writeOnly: true
    CreateDocumentResponse:
      example:
        links:
          self: self
      properties:
        links:
          $ref: "#/components/schemas/Links"
      readOnly: true
      required:
      - links
      type: object
    CreateDocumentPageRequest:
      example:
        image:
          data: data
          url: http://localhost/example.png
        advice:
          classification:
            pageTypes:
            - front
            - back
      properties:
        image:
          $ref: "#/components/schemas/Image"
        advice:
          $ref: "#/components/schemas/DocumentPageAdvice"
      required:
      - image
      type: object
      writeOnly: true
    DocumentPageAdvice:
      description: The document page processing advice.
      example:
        classification:
          pageTypes:
          - front
          - back
      properties:
        classification:
          $ref: "#/components/schemas/DocumentPageClassificationAdvice"
      type: object
      writeOnly: true
    DocumentPageClassificationAdvice:
      description: "Advice to the OCR document classification process about expected\
        \ document page in the uploaded image. This is optional input. If not provided,\
        \ classification will try to match both front and back pages. If provided\
        \ and document page in image is different, an error is returned."
      example:
        pageTypes:
        - front
        - back
      properties:
        pageTypes:
          description: The list of the page types
          example:
          - front
          - back
          items:
            description: The list of the page types
            example: "[\"front\",\"back\"]"
            type: string
          type: array
      required:
      - pageTypes
      type: object
      writeOnly: true
    CreateDocumentPageResponse:
      example:
        detection:
          confidence: 0.8
          coordinates:
            topLeftCorner:
              x: 10
              "y": 20
            bottomRightCorner:
              x: 10
              "y": 20
            topRightCorner:
              x: 10
              "y": 20
            bottomLeftCorner:
              x: 10
              "y": 20
          cornerOutOfImage: true
        pageType: front
        documentType:
          country: svk
          edition: 2008-2019
          machineReadableTravelDocument: TD1
          supportLevel: FULL_SUPPORT
          type: identity-card
        warnings:
        - PORTRAIT_NOT_GUARANTEED_OF_THE_SAME_PERSON
        - PORTRAIT_NOT_GUARANTEED_OF_THE_SAME_PERSON
        errorCode: NO_CARD_CORNERS_DETECTED
        links:
          self: self
        additionalData:
          video:
            data: data
      properties:
        documentType:
          $ref: "#/components/schemas/DocumentType"
        pageType:
          description: Document's page type
          example: front
          readOnly: true
          type: string
        detection:
          $ref: "#/components/schemas/DocumentDetection"
        errorCode:
[...]
